$font-stack: Palatino, 'Palatino Linotype', Georgia;
$primary-color: white;

* {
  margin: 0px;
  padding: 0px;
}

.container {
  font-family: $font-stack;
  background-color: black;
  height: 650px;
  padding-top: 20px;
}

#app {
  margin-left: 8px;
}

.board {
  width: 1200px;
  height: 396px;
}

.tile {
  width: .75em;
  height: .75em;
  float: left;
}

.wall {
  background-color: #808080;
}

.room {
  background-color: white;
}

.health {
  background-color: green;
}

.enemy {
  background-color: red;
}

.weapon {
  background-color: yellow;
}

.player {
  background-color: blue;
}

.transporter {
  background-color: purple;
}

.boss {
  background-color: crimson;
}
