$font-stack: Palatino, 'Palatino Linotype', Georgia;
$primary-color: white;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@mixin header {
  color: $primary-color;
  text-align: center;
  font-weight: bold;
}

@keyframes danger {
  from {
    background-color: red;
  }
  to {
    background-color: darkviolet;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

.container {
  font-family: $font-stack;
  padding-top: 20px;
}

h1 {
  @include header;
  font-size: 2em;
}

h4 {
  @include header;
}

#app {
  margin-left: 8px;
}

.label {
  font-weight: 900;
}

.game-screen {
  width: 1200px;
  height: 396px;
  background-color: blue;
}

.game-info {
  color: white;
  margin-top: 40px;
  display: inline-block;
}

li {
  display: inline-block;
  font-family: Roboto;
  width: 120px;
  text-align: center;
}

.health-menu {
  width: 100px;
  text-align: center;
}

.weapon-menu {
  width: 220px;
  text-align: left;
  margin-left: 20px;
}

.dg-level-menu {
  width: 125px;
}

.exp-menu {
  width: 100px;
}

.toggle-button {
  padding: 5px 0px;
}

.button-panel {
  display: inline-block;
  margin-left: 100px;
}

.menu {
  margin-bottom: 10px;
}

.tile {
  width: .75em;
  height: .75em;
  float: left;
}

.wall {
  background-color: #808080;
}

.dark {
  background-color: black;
}

.room {
  background-color: white;
}

.health {
  background-color: green;
}

.enemy {
  background-color: red;
}

.weapon {
  background-color: yellow;
}

.player {
  background-color: blue;
}

.transporter {
  background-color: purple;
}

.boss {
  background-color: red;
  animation-name: danger;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
